#root {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.site-header {
    position: sticky;
    top: 1em;
    width: 100%;
    padding: 0;
}

.card {
    @media screen and (max-width: 900px) {
        padding: 2em 0;
    }
}

.read-the-docs {
    color: #888;
}

.list-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}
