:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;

  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.w-icon {
    padding: 5px 8px;
    display: flex;
  }
  &.text-icon-button {
    padding: 5px 8px;
    font-size: 28px;
  }
}

svg {
  fill: currentColor;
  width: 32px;
  height: 32px;
}

input {
  border-radius: 10px;
}

input[type="text"],
input[type="number"] {
  /* Reset */
  font: inherit;
  color: inherit;
  border: 1px solid transparent;
  outline: 0;
  padding: 0;
  background: none;
  appearance: none;
  /* Custom */
  padding: 5px 21px;
  font-size: 21px;
  font-weight: 500;
  color: #ffffff;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  &:focus {
    border: 1px solid currentColor;
    background: rgba(0, 0, 0, 0.1);
  }
}

#task-title,
#task-timer {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
}

.add-task {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 40px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.list-wrap > div,
.timer-controls {
  display: flex;
  align-items: center;
  gap: 1em;
}

.list-wrap > div {
  margin: 20px 0;
  padding: 20px 30px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
}

.timer-display {
  font-size: 45px;
  margin: 0;
  font-weight: 700;
  min-width: 200px;
  text-align: left;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  input[type="text"],
  input[type="number"] {
    color: #000000;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
