:root {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d1d1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #d6e71b;
  text-decoration: inherit;

  &:hover {
    color: #e6fa04;
  }
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-size: 16px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

  &.logo {
    font-size: 12px;
    text-indent: -9999px;
    background-image: url(../images/dayredi.webp);
    background-size: 151.5px 55.5px;
    background-repeat: no-repeat;
    width: 151.5px;
    height: 55.5px;
    margin: 0 auto;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.25s;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(0, 0, 0, 0.797);
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.w-icon {
    padding: 5px 8px;
    display: flex;

    svg {
      fill: currentColor;
      width: 22px;
      height: 22px;
    }
    &.done-icon {
      padding: 8px 12px;
      svg {
        width: 26px;
        height: 26px;
      }
    }

    &.completed {
      svg {
        fill: #00ff00;
      }
    }
    &.delete-icon {
      padding: 8px 12px;
      svg {
        width: 26px;
        height: 26px;
      }
    }
    &.replay-icon {
      padding: 8px 12px;
      svg {
        width: 18px;
        height: 18px;
      }
    
    }
  }
  &.text-icon-button {
    padding: 5px 8px;
    font-size: 18px;
  }
}

input {
  border-radius: 10px;
}

input[type="text"],
input[type="number"] {
  /* Reset */
  font: inherit;
  color: inherit;
  border: 1px solid transparent;
  outline: 0;
  padding: 0;
  background: none;
  appearance: none;
  /* Custom */
  padding: 5px 21px;
  font-size: 21px;
  font-weight: 500;
  color: #ffffff;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  &:focus {
    border: 1px solid currentColor;
    background: rgba(0, 0, 0, 0.1);
  }
}

#task-name,
#task-timer {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
}

.add-task {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 40px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);

  .add-task-inputs {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }
}

.task,
.timer-display-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.timer-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.task {
  margin: 20px 0;
  padding: 20px 30px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);

  &.completed {
    justify-content: space-between;
  }
}

.timer-display {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  min-width: 168px;
  text-align: left;

  &.active {
    color: #00ee00;
  }
}

.task-completed-wrap {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: flex-start;

  button.delete-icon {
    margin-right: auto;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f2f2f2;
  }
  h1 {
    &.logo {
      filter: invert(1);
    }
  }
  button {
    background-color: white;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  .task,
  .add-task {
    background: rgba(255, 255, 255, 0.9);
  }
  .add-task {
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  #task-name,
  #task-timer {
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: white;
  }
  input[type="text"],
  input[type="number"] {
    color: #000000;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
